



<div class="center">
    <h1 style=""><b>Thank You!</b></h1>
    <br />
    <i class="fa fa-5x fa-times-circle  text-danger"></i>
    <br /><br />

    <h2 class="center">
        Your payment subscription for iHealth Networking Group is unsuccessfull.
        <br />
       <b class="text-danger">Reason:</b> Insufficient fund @ViewBag.responseMsg
        <br />
        For reference, your transaction Id is @ViewBag.tRef
    </h2>
    <br /> <a href="/"><i class="fa fa-arrow-left"></i> Back to Home</a>
</div><!-- /.title-section -->


@*<div class="container">
    <div class="divPanel page-content">
        <div class="row-fluid">
            <div class="span12">    
                <div class="alert alert-block alert-danger">
                    <h2 style="color:white">Your transaction Fail</h2>
                    <p>
                        <h4 style="color:white">Reason: <span style="color:red"> @ViewBag.responseMsg</span></h4> <br />
                        <h4 style="color:white">Transaction Reference: <span style="color:red">@ViewBag.tRef</span></h4><br />
                        <h4 style="color:white">Payment Reference: <span style="color:red">@ViewBag.pRef</span></h4>
                        <a href="/home/index" class="btn btn-success pull-right">Click Here</a>
                      </p>                                         
                </div>                           
            </div>
        </div>
    </div>
</div>*@


