@model IEnumerable<iHealth2.Models.service_booster_client_VM>
@using Microsoft.AspNet.Identity.EntityFramework;
@using Microsoft.AspNet.Identity
@using iHealth2.Models;


@{
    ApplicationDbContext db = new ApplicationDbContext();
    string s = System.Configuration.ConfigurationManager.AppSettings["MaxLevel"];
    var user = db.Users.Find(User.Identity.GetUserId());
    ViewBag.title = "Service Booster";
    switch (user.UserType)
    {

        case "AD":
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
            break;
        case "SA":
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
         //   Layout = "~/Views/Shared/_SuperAdmLayout.cshtml";
            break;

    }
}

<div class="panel panel-default">
    <div class="panel-body">
        <div class="table-responsive">
            <table id="table" style="text-transform:capitalize">
                <thead>
                    <tr>
                        <th>SN</th>
                       
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>Profession</th>
                        <th>
                          Address
                        </th>
                        <th>Any registered service?</th>

                    </tr>

                </thead>
                <tbody>
                    @{
                        int counter = 0;

                    }

                    @foreach (var item in Model)
                    {
                        counter = counter + 1;

                        <tr>
                            <td>

                                @counter
                            </td>                        

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>



                            <td>
                                @Html.DisplayFor(modelItem => item.Email).ToString().ToLower()
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Profession)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @{
                        var sbs = db.BusinessInfoes.Where(b => b.UserID == item.sbid);
                        if (sbs.Count() > 0)
                        {
                            String UserID = iHealth2.CustomClasses.Cryptoclass.EncryptStringAES(item.sbid, s);
                            UserID = UserID.Replace("/", "$25");
                            UserID = UserID.Replace("+", "$24");
                            <a href="/ing/sp_Service_Booster_Biz_List/?sbid=@UserID" class="btn btn-danger">Yes, click to view</a>
                        }
                        else
                        { <span>No</span>}
                                }
                            </td>
       </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/Plugins/bootstrap-table.js"></script>
    <script>
    $('#table').bootstrapTable({

        striped: true,
        // cardView: true,
        pagination: true,
        pageSize: 15,
        pageList: [15, 25, 50, 100, 200],
        smartDisplay: false,
        showToggle: true,
        search: true,
        showColumns: true,
        showRefresh: true,
        //    border : true
        //align: 'center',
        //valign: 'bottom'

    });
    </script>
}
