@model IEnumerable<iHealth2.Models.ApplicationUser>
@using iHealth2.CustomClasses;
@using iHealth2.Models
@using Microsoft.AspNet.Identity.EntityFramework;
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "NewUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
    var user = db.Users.Find(User.Identity.GetUserId());
    switch (user.UserType)
    {

        case "AD":
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
            break;
        case "SA":
            Layout = "~/Views/Shared/_AdminLayout.cshtml";
          //  Layout = "~/Views/Shared/_SuperAdmLayout.cshtml";
            break;

    }

}


<section class="content">

    <div class="panel panel-default">
        <div class="panel-body">


            <div class="table-responsive mailbox-messages">
                <form role="form" method="post" action="/Admin/MarkAsSeen">
                    <table id="table" class="">
                        <thead>
                            <tr>
                                <th>
                                  SN
                                </th>
                                <th>Subcriber ID</th>
                                <th>
                                    Name
                                </th>
                              
                                <th>
                                    Payment Channel
                                </th>

                                <th>
                                    Payment Status
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Phone Number
                                </th>
                               

                            </tr>

                        </thead>

                        <tbody>
@{int counter = 0;}
                            @foreach (var item in Model)
                            {
                                
                               
                                counter = counter + 1;



                                <tr>
                                   
                                    <td>@counter</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MyRefferalCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @item.INISubcriberExtraDetails.paymentMethod
                                    </td>
                                    <td>
                                        @item.INISubcriberExtraDetails.PaymentStatus
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>

                                  
                                 
                                  
                                </tr>

                            }
                        </tbody>
                    </table>
                  
                    </form>
            </div>
        </div>
    </div>

</section>


@section scripts{
    <script src="~/Scripts/Plugins/bootstrap-table.js"></script>
    <script>
    $('#table').bootstrapTable({

        striped: true,
        // cardView: true,
        pagination: true,
        pageSize: 15,
        pageList: [15, 30, 50, 100, 200],
        smartDisplay: false,
        showToggle: false,
        search: true,
        showColumns: true,
        showRefresh: true,
        //    border : true
        //align: 'center',
        //valign: 'bottom'

    });
    </script>
   
    <script src="~/Scripts/AdminScripts/iCheck/icheck.js"></script>
    <script>
    $(document).ready(function () {
        //Enable iCheck plugin for checkboxes
        //iCheck for checkbox and radio inputs
        $('.mailbox-messages input[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });

        //Enable check and uncheck all functionality
        $(".checkbox-toggle").click(function () {
            var clicks = $(this).data('clicks');
            if (clicks) {
                //Uncheck all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
            } else {
                //Check all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("check");
                $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
            }
            $(this).data("clicks", !clicks);
        });

      
    });
    </script>
}





