@model iHealth2.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="h1-title">Forgot Password</h1>
                </div><!-- /.page-title-heading -->
                <ul class="breadcrumbs">
                    <li><a href="/" title="">Home<i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    <li><a href="#" title="">Forgot Password</a></li>
                </ul><!-- /.breadcrumbs -->
                <div class="clearfix"></div><!-- /.clearfix -->
            </div>
        </div>
    </div>
</div><!-- /.page-title -->

<section class="flat-row pd-aboutv3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="wrap-main-post about-v3">

                    <div class="box-content">
                       @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "", role = "form" }))
{
                        @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-error" })
                                                   <div class="form-group col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">
                                <label for="email" class="control-label">E-mail Address:</label>
                       @Html.TextBoxFor(m => m.Email, new { @class = "form-control",placeholder="Name@example.com" })
                                                       @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <div class="col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
                                    <button type="submit" class="btn btn-success btn-group-justified">
                                        Send Password Reset Link
                                    </button>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <a class="" href="/Account/login">Sign In</a> <br>
                                    A new user? <a class="" href="/account/reg_option">Register</a>
                                </div>
                            </div>
}
                        <div class="dividers dividers-bc-v4"></div>
                    </div>

                </div> <!-- /.wrap-main-post -->
            </div> <!-- /.col-md-9 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row-iconbox -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
