@using iHealth2.Models
@using Microsoft.AspNet.Identity.EntityFramework;
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = @Session["Name"];
    Layout = "~/Views/Shared/_UserPanelLayout.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
    var user = db.Users.Find(User.Identity.GetUserId());
    string s = System.Configuration.ConfigurationManager.AppSettings["MaxLevel"];
    String UserID = iHealth2.CustomClasses.Cryptoclass.EncryptStringAES(user.Id, s);
    UserID = UserID.Replace("/", "$25");
    UserID = UserID.Replace("+", "$24");
    //string s = System.Configuration.ConfigurationManager.AppSettings["MaxLevel"];
    String UserName = iHealth2.CustomClasses.Cryptoclass.EncryptStringAES(user.UserName, s);
    UserName = UserName.Replace("/", "$25");
    UserName = UserName.Replace("+", "$24");
}
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/INI_Subscriber/Userpanel"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
        <!-- Small boxes (Stat box) -->
      <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua ">
                    <div class="inner">
                        <h3>
                            @{
                                var regCom = db.BusinessInfoes.Where(u => u.UserID == user.Id ).Count();
                            }
                           @regCom
                        </h3>
                        <p>
                           My Registered Business
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-home"></i>
                    </div>
                 
                    <a href="/Business/MyBusiness/?Id=@UserID" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>

                    </a>

                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow ">
                    <div class="inner">
                        <h3>
                            @{
                                var regProd = db.ProductTb.Where(u => u.UserID == user.Id).Count();
                            }
                            @regProd
                        </h3>
                        <p>
                            My Registered Products
                        </p>
                    </div>
                    <div class="icon">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                    </div>
                 
                    <a href="/Products/myProducts/?Id=@UserID" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->

            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red ">
                    <div class="inner">
                        <h3>
                            @user.IHealthUsersMLM.MyDownlineCount
                        </h3>
                        <p>
                            My Downline Count
                        </p>
                    </div>
                    <div class="icon">
                        <i class="glyphicon glyphicon-download-alt"></i>
                    </div>
                    
                    <a href="#" class="small-box-footer">
                        My Bonus <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>

My
                        </h3>
                        <p>
                             Profile
                        </p>
                    </div>
                    <div class="icon">
                        <i class="glyphicon glyphicon-user"></i>
                    </div>
                    <a href="/Users/Profiles/?ids=@UserName" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div><!-- ./col -->
          
        </div><!-- /.row -->
       <div class="row">
    <div class="col-xs-12 connectedSortable">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="panel-title">
                    Information Center
                </div>
            </div>
            <div class="panel-body">  
                <marquee direction="scroll" behaviour="alternate" style="font-size:large; ">
                    <span style="color:#ff6a00" ">
                        (1).
                    </span> Stand a chance to get iHealth Health Insurance Plan for One (1) full year by
                        refering 20 people to register with us
                    
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="color:#0094ff">  (2). </span> Get more benefit by upgrading to our Ihealth 
                    Networking Group platform. 
                    To find out more <a href="#" target="_blank" style="color:darkgreen">Click Here</a> 
                </marquee>
              
            </div>
        </div>
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon glyphicon glyphicon-info-sign"></i> Alert!</h4>
            <h4>
                Get more out of Ihealth by upgrading to our Ihealth Networking Group Platform,
                <a href="/Users/UgradeForm/?ids=@UserName" style="color:#ff0000;font-size:larger"><b>CLICK HERE</b></a> to find out more.
            </h4>
           
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    Referral informations
                </div>
             
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <tr>
                        <th style="width:300px">
                           Required Downlines Size
                        </th>
                        <td><i style="align-content:center" class="glyphicon glyphicon-arrow-right icon"></i></td>
                        <td style="font-size:14pt">
                            20
                        </td>
                    </tr>
                    <tr>
                        <th style="width:300px">Current Downline Size</th>
                        <td><i style="align-content:center" class="glyphicon glyphicon-arrow-right icon"></i></td>

                        <td style="font-size:14pt">
                           @user.IHealthUsersMLM.MyDownlineCount
                        </td>
                    </tr>
                    <tr>
                        <th style="width:300px">Remaining Downline Size</th>
                        <td><i style="align-content:center" class="glyphicon glyphicon-arrow-right icon"></i></td>

                        <td style="font-size:14pt">
                          @{var rem = 20 - user.IHealthUsersMLM.MyDownlineCount;}
                            @rem
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="panel-title">
                    Your Refferral URL
                </div>
               
            </div>
            <div class="panel-body">
                <b>Replicate Url : <a href="@user.Refferal_Url">@user.Refferal_Url</a></b>
            </div>
        </div>
        </div>
    </div>
       
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-6 connectedSortable">
               
                <!-- quick email widget -->
                <div class="box box-info">
                    <div class="box-header">
                        <i class="fa fa-envelope"></i>
                        <h3 class="box-title">Contact Us</h3>
                        <!-- tools box -->
                        <div class="pull-right box-tools">
                            <button class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                        </div><!-- /. tools -->
                    </div>
                    <div class="box-body">
                        <form action="#" method="post">
                            <div class="form-group">
                                <input type="email" class="form-control" name="emailFrom" placeholder="Email:" />
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" placeholder="Subject:" />
                            </div>
                            <div>
                                <textarea class="textarea" placeholder="Message" style="width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer clearfix">
                        <button class="pull-right btn btn-default" id="sendEmail">Send <i class="fa fa-arrow-circle-right"></i></button>
                    </div>
                </div>

            </section><!-- /.Left col -->
       
        </div><!-- /.row (main row) -->

@section scripts{
    <script src="~/Scripts/wavytext.js"></script>
<script>
        $('#textHeader').wavyText({
            // vendor prefixes
            prefixes: ['-ms-', '-webkit-', '-o-', '-moz-', ''],

            // animation name
            animation_name: 'funkyGrad',

            // animation speed
            transition_speed: '0.8s',

            // an object, where each key represents a number from 1-100,
            // for each step of the keyframe animation.
            keyframes: {
                '0': ['0', 'red'],
                '20': ['10px', 'orange'],
                '40': ['20px', 'yellow'],
                '60': ['25px', 'green'],
                '80': ['10px', 'blue'],
                '100': ['0', 'purple']
            },

            // an array of strings representing custom classes for each wavyText character
            char_classes: [],

            // the tag id to use
            style_id: 'wavy-text-custom'

        });

</script>
    }