@using iHealth2.Models
@using IhealthPaging;
@model IhealthPaging.IPagedList<iHealth2.Models.ProductsInfo>
@{
    ViewBag.Title = "Herbal_Drugs";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
}

<div id="decorative1" style="position:relative">
    <div class="container">
        <div class="divPanel headerArea">
            <div class="row-fluid">
                <div class="span12">

                    <div class="span3" style="margin-left:10px">
                        <br />
                        <div>
                            @{
                                try
                                {
                                    var SB = db.AdvertManagerTb.SingleOrDefault(a => a.AdsLocOnPage == "SquareBoard" && a.AdsStatus == "Active" && a.Adspage == "SearchHerbalCentrePage");
                                    var img = "data:image/png;base64," + Convert.ToBase64String(SB.AdsImage);
                                    if (img != null)
                                    {
                                        <a href="@SB.AdsURL"><img src="@img" /></a>
                                    }
                                    else
                                    {
                                        <a href="/advert/How_to_Place_Ads" target="_blank" title="Click here to place Ads"> <img src="~/Content/images/AdsBanner/ads.jpg" style="width:inherit;height:inherit" alt="ihealth  advertisement Banner" /></a>
                                    }
                                }
                                catch
                                {
                                    <a href="/advert/How_to_Place_Ads" target="_blank" title="Click here to place Ads"> <img src="~/Content/images/AdsBanner/ads.jpg" style="width:inherit;height:inherit" alt="ihealth  advertisement Banner" /></a>

                                }


                            }
                        </div>
                        <br />
                    </div>



                    <div class="span6" style=" margin-left: 3.5px;">
                        <br />
                        <!--Edit Camera Slider here-->
                        <div id="slider-container" class="slider-container">
                            <div class="slider">
                                @{
                                    var Fhosp = db.AdvertManagerTb.Where(adv => adv.AdsStatus == "Active" && adv.Adspage == "SearchHerbalCentrePage" && adv.AdsLocOnPage == "Slider").ToList();
                                    if (Fhosp.Count > 0)
                                    {
                                        foreach (var image in Fhosp)
                                        {
                                            var img = "data:image/png;base64," + Convert.ToBase64String(image.AdsImage);
                                            <div class="slide">
                                                <a href="@image.AdsURL">  <img src="@img" alt=""></a>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="slide"><img src="/content/images/herbs/herbs1.jpg" /></div>
                                        <div class="slide"><img src="/content/images/herbs/herbs2.jpg" /></div>
                                        <div class="slide"><img src="/content/images/herbs/herbs3.jpg" /></div>
                                        <div class="slide"><img src="/content/images/herbs/herbs4.jpg" /></div>
                                    }
}
                            </div>
                            <div class="switch" id="prev"><span></span></div>
                            <div class="switch" id="next"><span></span></div>
                        </div>
                        <!--End Camera Slider here-->
                        <br />
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<br />
<h2 class="text-success" style="font-family:Calligraffitti;text-align:center;font-weight:700"> LIST OF AVAILABLE DRUGS</h2>
<br />
<div class="page-content" id="pagecontent">
    <div class="container">
        <div class="row-fluid">
            <div class="span9">
                @if (Model.Count() > 0)
                {
                    <div id="gridArea">
                        <ul id="tiles">

                            @foreach (var item in Model)
                            {

                                <li>
                                    @if (item.ProductImage != null)
                                    {
                                        var img = "data:image/png;base64," + Convert.ToBase64String(item.ProductImage);
                                        <a href="@img" title="@item.ProductName" rel="prettyPhoto[gallery1]"><img src="@img" alt="@item.ProductName" title="@item.ProductName" /></a>

                                    }
                                    <div class="meta"><span>@Convert.ToDateTime(item.regDate).ToString("dd") Ago</span><span class="pull-right">By @item.OwnerInfo.FirstName</span></div>
                                    <h4><a href="#">@item.ProductName</a></h4>
                                    <p>
                                        @{
                                    var displayedContent = System.Text.RegularExpressions.Regex.Match(item.ProductDescription.ToString(), @"^(\w+\b.*?){10}").ToString();
                                    string s = System.Configuration.ConfigurationManager.AppSettings["MaxLevel"];
                                    String did = iHealth2.CustomClasses.Cryptoclass.EncryptStringAES(item.Id.ToString(), s);
                                    did = did.Replace("/", "$25");
                                    did = did.Replace("+", "$24");
                                        }
                                        @displayedContent

                                        <br /><a href="/Herbal/Drug_Detail/?did=@did" class="btn btn-success">View</a>
                                        <b style="float:right; font-size:larger">&#8358;@item.price</b>
                                    </p>

                                </li>

                            }

                        </ul>


                    </div>
                    <div class="pager">

                        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)


                    </div>

                }
                else
                {
                    <h3><strong style="text-align:center;" class="text-error">No Item Found</strong></h3>
                }


            </div>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/siteScripts/jquery.wookmark.js"></script>
    <script type="text/javascript">
    $(window).load(function () { var options = { autoResize: true, container: $('#gridArea'), offset: 10 }; var handler = $('#tiles li'); handler.wookmark(options); $('#tiles li').each(function () { var imgm = 0; if ($(this).find('img').length > 0) imgm = parseInt($(this).find('img').not('p img').css('margin-bottom')); var newHeight = $(this).find('img').height() + imgm + $(this).find('div').height() + $(this).find('h4').height() + $(this).find('p').not('blockquote p').height() + $(this).find('iframe').height() + $(this).find('blockquote').height() + 5; if ($(this).find('iframe').height()) newHeight = newHeight + 15; $(this).css('height', newHeight + 'px'); }); handler.wookmark(options); handler.wookmark(options); });
    </script>
    <script src="~/Scripts/siteScripts/jquery.prettyPhoto.js"></script>
    <script type="text/javascript">$("a[rel^='prettyPhoto']").prettyPhoto({ social_tools: false }); $("a[rel^='prettyPhoto'] img").hover(function () { $(this).animate({ opacity: 0.7 }, 300) }, function () { $(this).animate({ opacity: 1 }, 300) });</script>
    <script src="~/Scripts/Plugins/jquery.auto-complete.min.js"></script>
    <script type="text/javascript" language="javascript">
        $('#terms').autoComplete({
            minChars: 1,
            source: function (term, response) {
                $.getJSON('/Search/HospAutocomplete', { term: term }, function (data) { response(data); });
            }
        });
    </script>
}







